body {
    padding-top: 0px;
    background-color: #dcdcdc;
}

header{
    height: 45px;
    background-color: #000000;
    z-index: 2;
}


#lang_select{
    float: right;
    margin-top: 10px;
    margin-right: 80px;
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

#lang_select option{
    background-color: #000000;
    color: white;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
}

#lang_select option:hover{
    background-color: #000000;
    color: white;
    font-size: 18px;
    font-weight: 400;
}


.chat-container {
    position: fixed;
    top: 8vh;
    right: 5.5vw;
    width: 60vw;
    background: transparent;
    padding: 20px;
    border: none;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0) */
}

#chat-history {
    height: 75vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* border: 1px solid #8c8c8c; */
    border-radius: 10px;
    padding: 5px;
    background: rgb(255, 255, 255);
    color: #fff;
    padding-top: 15px;
}

.user-message {
    text-align: right;
    margin-right: 5%;
    margin-left: auto;
    margin-bottom: 20px;
    font-size: 0.4cm;
    color: #132230;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* background-color: #30455689; */
    background: linear-gradient(to left,  #f3b7ff, #c9deff);
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    border-radius: 7px;
    border-top-right-radius: 0;
    border: 1px solid #ccc;
    max-width: 35%;
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

.bot-message {
    text-align: left;
    margin-bottom: 30px;
    margin-left: -50%;
    font-size: 0.4cm;
    color: #132230;
    /* background-color: #d783e7d2; */
    background: linear-gradient(to right, #f3b7ff, #c9deff);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-radius: 7px;
    border-top-left-radius: 0;
    border: 1px solid #ccc;
    max-width: 40%;
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

input {
    height: 50px;
    padding: 13px;
    padding-left: 50px;
    padding-top: 15px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

input:focus {
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.border-gradient {
    /* background: linear-gradient(90deg, #000000 0%, #020227 99%, #000005 100%) padding-box,
        linear-gradient(270deg, #1a0033 0%, #003166 99%, #484294 100%) border-box; */
    background: linear-gradient(90deg, #e3e2e2 0%, #d7d7ff 99%, #bdbdf7 100%) padding-box,
        linear-gradient(270deg, #1a0033 0%, #003166 99%, #484294 100%) border-box;
        border-radius: 50em;
    border: 1px solid transparent;
    color: #132230;
}

#audio_out{
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    background: white;
    height: 17px;
    width: fit-content;
    border-radius: 5px;
    position: fixed;
    right: 10.25%;
    bottom: 80.5px;
    color: black;
    font-size: 0.3cm;
}

#audio_input{
    border-radius: 50%;
    padding: 13px;
    position: fixed;
    bottom: 28.5px;
    right: 10.25%;
    border: none;
    background: transparent;
    color: blue;
}

#send {
    border-radius: 50%;
    padding: 13px;
    position: fixed;
    bottom: 28.5px;
    right: 7.25%;
    border: none;
    background: transparent;
    color: blue;
}

#user-input {
    position: fixed;
    bottom: 25px;
    right: 6.9%;
    width: 60vw;
    height: 51px;
    padding: 14px;
    padding-left: 60px;
    padding-right: 110px;
}

#newchat {
    border-radius: 50%;
    padding: 13px;
    position: fixed;
    bottom: 28.5px;
    left: 33.25%;
    z-index: 1;
    border: none;
    background: transparent;
    color: rgb(0, 26, 255);
}


.typing-dots{
    display: none;
    position: fixed;
    bottom: 100px;
    left: 60vw;
}

#dot1, #dot2, #dot3{
    border: 4px solid #016ba4;
    box-shadow: 0 0 1px #016ba4;
    border-radius: 50%;
    margin: 0px 5px;
    display: inline-block;
    animation: dots 1.5s infinite;
}


#dot1{
    animation-delay: 0s;
}

#dot2{
    animation-delay: 0.25s;
}

#dot3{
    animation-delay: 0.5s;
}

@keyframes dots{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



#bot{
    display: block;
    position: relative;
    top: -630px;
    filter: drop-shadow(0px 0px 5px #0550ff77);
    z-index: 1;
}


.quick_ghost{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 50vh;
    left: 38vw;
}

.ghost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    width: 150px;
    height: 150px;
    /* background: #016ba4; */
    padding: 8px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.ghost:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}


/* -------------------------------------------------------------------------- */

button {
    padding: 10px 20px;
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow 0.1s ease;
}

button:hover {
    font-size: 17px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.98);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.429);
    transition: box-shadow 0.3s ease;
}

@media only screen and (max-width: 900px) {
    header span{
        margin-top:-9px;
    }

    #lang_select{
        display: none;
    }
    .chat-container {
        position: fixed;
        top: 14vh;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: transparent;
    }

    #chat-history{
        width: 90%;
        margin: 0;
        background-color: transparent;
        margin-top: -40px;
        border: none;
    }

    .typing-dots{
        position: fixed;
        bottom: 75px;
        left:40vw;
    }
    
    button {
        font-size: 14px;
        padding: 5px 10px;
        margin-bottom: 5px;
    }

    .user-message {
        float: right;
        margin-right: 0;
        font-size: 14px;
        padding: 5px;
        margin-bottom: 5px;
        max-width: 100%;
    }

    .bot-message {
        float: left;
        margin-left: 0;
        font-size: 14px;
        padding: 5px;
        margin-bottom: 10px;
        max-width: 100%;
    }

    #audio_out{
        display: none;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
        padding-bottom: 1px;
        padding-left: 5px;
        padding-right: 5px;
        background: white;
        height: 17px;
        width: fit-content;
        border-radius: 5px;
        position: fixed;
        right: 30px;
        bottom: 10%;
        color: black;
        font-size: 0.3cm;
    }

    #audio_input{
        right: 12.5%;
        bottom: 11px;
    }

    #send {
        right: 2.5%;
        bottom: 11px;
    }

    #newchat {
        left: 2.5%;
        bottom: 11px;
    }

    #user-input{
        width: 100%;
        height: 50px;
        padding: 14px;
        padding-left: 50px;
        padding-right: 90px;
        bottom: 15px;
        left: 0;
    }
}

.college-card {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.card-header {
  font-weight: bold;
}

.card-body {
  font-size: 14px;
}

#side_close{
    position: fixed;
    left: 26vw;
    z-index: -1;
    top: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 6px;
    padding-right: 6px;
    background: #b2b3b3a4;
    color: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

#side_close:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.429);
    transition: box-shadow 0.3s ease;
}


.side_bar{
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 26vw;
    height: 96.9vh;
    padding-bottom: 5%;
    padding-right: 3px;
    background: #b2b3b3a4;
    position: fixed;
    padding-top: 49.9px;
    top: 0px;
    left: 0;
    z-index: 1;
}


#hist_title{
    text-align: left;
    background:rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

#hist_title:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.429);
    transition: box-shadow 0.3s ease;
}

#hist_down{
    float: right;
    margin-right: 10px;
    color: rgb(36, 35, 35)
}



.hist_cards{
    position: relative;
    top: -20px;
}
.side_card{
    text-align: left;
    padding: 2px;
    background: #e7e7e7a4;
    border: 1px solid rgb(159, 159, 159);
    cursor: pointer;
}

.side_card:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.side_card p{
    margin-left: 20px;
}

.side_card i{
    float: right;
    margin-top: -35px;
    margin-right: 10px;
    color: rgb(63, 63, 63)
}


@media only screen and (max-width: 900px) {
    .side_bar{
        display: none;
    }
    #side_close{
        display: none;
    }
    .quick_ghost{
        display: flex;
        flex-wrap: nowrap;
        left: 0vw;
        bottom: -19vh;
        width: 100vw;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    .ghost{
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
        padding: 0px;
        padding-left: 100px;
        padding-right: 100px;
        height: 40px;
        margin-left: 5px;
        margin-right: 0px;
        cursor: pointer;
        background: linear-gradient(90deg, #e3e2e2 0%, #d7d7ff 99%, #bdbdf7 100%) padding-box,
        linear-gradient(270deg, #1a0033 0%, #003166 99%, #484294 100%) border-box;
        border-radius: 50em;
        border: 1px solid transparent;
        color: #132230;
    }
    #idea{
        display: none;
    }
    #bot{
        top: -75vh;
    }
}